
<div class="container-fluid">

  <div class="flex items-center justify-center h-screen">

    <div class="flex space-x-4 justify-center bg-white p-8 shadow-md rounded-md menu">
      <div class="row text-center">
        <h2>pokemon Tgpc</h2>
      </div>
      <div class="row p-lg-5">
        <div class="col">
          <button  (click)="openMyDecks()" igxButton="contained" style="background-color: #0d5291">Meus Baralhos</button>
        </div>
       <div class="col">
         <button  (click)="openNew()" igxButton="contained" style="background-color: #0d5291">Criar Baralhos</button>
       </div>

      </div>
    </div>
  </div>
</div>
